.card {
    
    display: grid; 
    grid-template-columns: 1fr; 
    grid-template-rows: 1fr 2fr .5fr .5fr; 
    gap: 2% 2%; 
    grid-template-areas: 
        "."
        "."
        "."
        "."
        "."; 
    padding: 1em;
    background-color: antiquewhite;
    border-radius: 3.5%;
    box-shadow: 3px 3px gray;
    /* padding-left: 50px; */
    /* min-width: ; */
    max-width: 10%;
    max-width: 10%;
}