.App {
  text-align: center;
  width: 99vw;
  height: 98vh;
}

.header {
  text-align: center;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

